<div class="col-xs-12">
  <div class="row-fluid">
<h1 style="color=#666666"><%= @book.title%></h1>
<ul><%= image_tag(@book.image_url, class: image_url) %></ul>
<ul><%= @book.author %></ul>
<%= @book.year_published %>
</div>
<div class="row-fluid">
  <%=link_to "All Books", books_path, class: 'btn btn-lg btn-primary'%>
</div>
</div>
